{% extends 'base.html' %}

{% block title %}ToDo Lists{% endblock %}

{% block content %}
    <h1 class="mb-4">ToDo Lists</h1>

    <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#createListModal"><i class="fas fa-plus"></i> Neue Liste hinzufügen</button>

    <ul class="list-group">
        {% for data in list_data %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-8">
                    <a href="/{{ data.list.id }}/" class="btn btn-link p-0">{{ data.list.name }}</a>
                    <div class="mt-2">
                        <span class="badge badge-warning">Offen: {{ data.open_tasks }}</span>
                        <span class="badge badge-success">Erledigt: {{ data.completed_tasks }}</span>
                    </div>
                </div>
                <div class="col-4 text-right">
                    <a href="#" class="btn btn-danger btn-sm rounded-right" data-toggle="modal" data-target="#deleteListModal{{ data.list.id }}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% include 'modals/create_list_modal.html' %}
    {% for data in list_data %}
        {% include 'modals/delete_list_modal.html' with list=data.list %}
    {% endfor %}
{% endblock %}
