{% extends 'base.html' %}

{% block title %}Aufgabenliste{% endblock %}

{% block content %}
<h1>{{ list.name }}</h1>
<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createTaskModal">Neue Aufgabe hinzufügen</a>

<ul class="list-group mt-4">
    {% for task in tasks %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ task.title }}
        <span>
            <a href="#" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editTaskModal{{ task.id }}">Bearbeiten</a>
            <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteTaskModal{{ task.id }}">Löschen</a>
        </span>
    </li>
    {% endfor %}
</ul>

<!-- Modals einbinden -->
{% include 'modals/create_task_modal.html' %}
{% for task in tasks %}
    {% include 'modals/edit_task_modal.html' %}
    {% include 'modals/delete_task_modal.html' %}
{% endfor %}
{% endblock %}
